<h1>My Bookings</h1>

<div class="container">
  <div class="row no-gutters">
    <% if @bookings.any? %>
      <% @bookings.each do |b| %>
        <p>start_date: <%= b.start_date %></p>
        <p>end_date: <%= b.end_date %></p>
        <p>status: <%= b.status %></p>
        <p>space_id: <%= b.space_id %></p>
        <p>user_id: <%= b.user_id %></p>
      <% end %>
    <% else %>
      <p>Sorry, there's no booking for this user.</p>
    <% end %>
  </div>
</div>
