<div class="container">
  <div class="main-container">


    <div class="cards-container">

      <div class="row">

      <div class="h1-center"> <h1>Explore our spaces </h1> </div>

        <% if @spaces.any? %>

          <% @spaces.each do |space| %>

            <div class="col-xs-12 col-sm-4">
              <!-- <div class="demo-title"></div> -->
              <!-- Post-->

              <%= link_to space_path(space) do %>
                <div class="post-module-index">
                  <!-- Thumbnail-->
                  <div class="thumbnail">
                    <% if space.photos? %>
                      <%= cl_image_tag space.photos.first.path, height: 700, width: 500, crop: :fill %>
                    <% else %>
                       <%= image_tag 'eventspaces/exp1' %>
                    <% end %>
                  </div>
                  <!-- Post Content-->
                  <div class="post-content">
                    <div class="category"><%= space.price_per_day %>€</div>
                    <h1 class="title"><%= space.name %></h1>
                  </div>
                </div>
              <% end %>

            </div>

          <% end %>

        <% else %>
          <p>Sorry, we couldn't find any space what meets with your criterias.</p>
        <% end %>


      </div>

    </div>
      <div id="map"></div>

  </div>
</div>




  <!-- </div> -->


  <!-- style="width: 100%; height: 600px;" -->

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>


<!-- <h2>Name: <%#= link_to space.name, space_path(space) %></h2>
  <p>Description: <%#= space.description %></p><br> -->
  <!-- <p>Max capacity: <%#= space.max_capacity %></p><br> -->
  <!-- <p>Price per day: <%#= space.price_per_day %></p><br> -->
  <!-- <p>User id: <%#= space.user_id %></p> -->
  <!-- <h3><#%= link_to 'Book', new_space_booking_path(space) %></h3> -->
