<h1>Space#Show</h1>

<h2>Name: <%= @space.name %></h2>
<p>Description: <%= @space.description %></p><br>
<p>Max capacity: <%= @space.max_capacity %></p><br>
<p>Price per day: <%= @space.price_per_day %></p><br>
<p>User id: <%= @space.user_id %></p><br><br>

<% @product.photos.each do |photo| %>
  <%= cl_image_tag photo.path, width: 300, height: 200, crop: :fill %>
<% end %>

<%= link_to 'Edit this space', edit_space_path(@space) %>

<br>

<%= link_to 'Create new booking for this space', new_space_booking_path(@space) %>

<br>

<%= link_to 'All bookings for this space', space_bookings_path(@space)  %>

<br>

<%= link_to 'Back to Spaces#Index', spaces_path %>

