<div class="page-wrapper">

  <% if @space.photos? %>
    <div><%= cl_image_tag @space.photos.first.path, height: 300, width: 400, crop: :fill %></div>
  <% else %>
   <div> <%= image_path 'eventspaces/exp1' %></div>
  <% end %>



  <br>

  <h2>Name: <%= @space.name %></h2>
  <p>Description: <%= @space.description %></p><br>
  <p>Max capacity: <%= @space.max_capacity %></p><br>
  <p>Price per day: <%= @space.price_per_day %></p><br>
  <p>User id: <%= @space.user_id %></p><br><br>

  <div class="button-column">
    <div class="page-wrapper">
    <div class="btn btn-default">
        <%= link_to 'Create new booking for this space', new_space_booking_path(@space) %>
    </div>

      <br>
      <div class="btn btn-default">
        <%= link_to 'All bookings for this space', space_bookings_path(@space)  %>
      </div>

      <br>
      <div class="btn btn-default">
        <%= link_to 'Back to Spaces#Index', spaces_path %>
      </div>
    </div>
  </div>
</div>

