<h1>Bookings#Index</h1>

<% @bookings.each do |booking| %>
<p>start_date: <%= booking.start_date %></p>
<p>end_date: <%= booking.end_date %></p>
<p>status: <%= booking.status %></p>
<p>space_id: <%= booking.space_id %></p>
<p><%= link_to 'booking', space_booking_path(@space, booking) %></p>
<br>
<% end %>


