<div class="banner" style="background-image: url('<%= image_path "Airbnb-clone-home-page.jpg"%>')">
  <div class="banner-content">
    <h1>Find your space</h1>
    <p>Be inspired to meet, create, innovate </p>
    <div class=""
  </div>
</div>
<div class="form-inline">
  <%= simple_form_for(:search, method: 'get', url: spaces_path) do |f| %>
    <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :end_date, as: :date, html5: true %>
    <%= f.input :location, html5: true, label_html: { class: "location_input" } %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to 'All spaces', spaces_path %> <br>

<%= link_to destroy_user_session_path, method: :delete do %>
<i class="fa fa-sign-out"></i><%= t(".sign_out", default: "Log out") %>
<% end %>

<%= link_to new_user_registration_path do %>
<i class="fa fa-sign-out"></i><%= t(".sign_up", default: "Sign up") %>
<% end %>


