<div class="banner" style="background-image: url('<%= image_path "banner-test-1.jpg"%>')">
  <div class="banner-content">
    <h1>Find your space</h1>
    <p id="fancy-title"></p>


    <div class="form-inline">
      <%= simple_form_for(:search, method: 'get', url: spaces_path, html: { class: "form-inline-search" }) do |f| %>
      <%= f.input :start_date, as: :date, html5: true, label: false %>
      <%= f.input :end_date, as: :date, html5: true, label: false %>
      <%= f.input :location, html5: true, label_html: { class: "location_input" }, label: false, placeholder: "Location" %>
      <%= f.input :category, collection: Space.select(:category).map(&:category).uniq, prompt: 'Choose one', label: false %>
      <%= f.button :submit, 'Search', class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to spaces_path(:search => { category: "work"}) do %>
<div class="container">
  <!-- Normal Demo-->
  <div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/svendk/image/upload/v1503589804/tvqmbljeg6anvwn3nkpi.jpg"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Work Spaces</div>
        <h1 class="title">Work in serviced, corporate and shared offices</h1>
        <p class="description">Decked out and ready to roll. Just insert meetings, people and presentations. </p>

      </div>
    </div>
  </div>
  <% end %>

  <%= link_to spaces_path(:search => { category: "creative"}) do %>
  <div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="https://i.pinimg.com/736x/1d/8d/43/1d8d43545c5694cf1beecfffbc09a901--art-studio-spaces-studio-artist-workspaces.jpg"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Creative spaces</div>
        <h1 class="title">Create in studios, workshops and spaces</h1>
        <p class="description">Say no to the creative block and get back to doing the work you love.</p>

      </div>
    </div>
  </div>
  <% end %>

  <%= link_to spaces_path(:search => { category: "event"}) do %>
  <div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="http://res.cloudinary.com/svendk/image/upload/v1503589374/tgfddkadz366qbevfim5.jpg"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Event Spaces</div>
        <h1 class="title">Celebrate launches, events and parties</h1>
        <p class="description">Spaces with style. </p>

      </div>
    </div>
  </div>
  <% end %>

  <%= link_to spaces_path(:search => { category: "retail"}) do %>
  <div class="column">
    <div class="demo-title"></div>
    <!-- Post-->
    <div class="post-module">
      <!-- Thumbnail-->
      <div class="thumbnail">
        <img src="http://weburbanist.com/wp-content/uploads/2011/12/pop-up-shops-puma-city.jpg"/>
      </div>
      <!-- Post Content-->
      <div class="post-content">
        <div class="category">Retail Spaces</div>
        <h1 class="title">Sell in pop-up shops, stalls and shares</h1>
        <p class="description">Selling just got easier. </p>

      </div>
    </div>
  </div>
  <% end %>

</div>

